body{
    text-align: center;
    background-color: #000;
}
/* projetotitulo */

@font-face {
    font-family: "computer";
    src: url("./fontes/Pixeled.ttf");
}

h1{
  color:rgb(91, 91, 255);

}

/* nav */

table {
  margin: 0 auto;
  border: 1px solid #000; 
}

.slidebar{
  position: fixed;
  top: 0;left: 0;
  height: 77%;width: 85px;
  margin-top: 10%;
  display: flex;overflow: hidden;
  flex-direction: column;
  background: #161a2d;
  padding: 25px 20 px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.4s ease;
}

*{
  margin:0;
  padding: 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover{
  opacity: 0.7 ;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(28, 10, 83));
  height: 20vh;
  border-left: solid black 2px;
  
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list{
  list-style: none;
  display: flex;
}

.nav-list li{
  letter-spacing: 3px;
  margin-left: 32px;
}

/* tabela */

.tabela{
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
   
}

table, th, td {
  padding: 8px;
  text-align: left;
  color: rgb(0, 46, 125);
  border-style: solid ;

}

/* ultimos projetos */

.lista{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.item{
    position: relative;
    overflow: hidden;
    transition: 1s;

}

p{
    color: rgb(65, 0, 215);
    width: 80%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;

}

.item:hover{
    transform: scale(1.05);
}

.item:hover p{
    opacity: 1;
    top: 50%;

}

.lista:hover .item:not(:hover){
    filter: blur(5px);
}



